body::before{
    display: block;
    content: "";
    height: 60px;
}

img{
    max-width: 500px;
    max-height: 500px;
}

body{
    background-image: url(assets/Moon.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}